
h3{
    color: rgb(97, 80, 80);
    
}

.btn{
    font-weight: bold;
    color: #F7CE3E;
    cursor: pointer;
}

#add-new-client-btn{
    background-color: #F7CE3E;
    padding: 10px;
    border: 5px solid #ecf0f1;
    border-radius: 15px;
    color: rgb(97, 80, 80);
    font-weight: bold;

}

