
.fa-chart-line{
    background-color:#2ecc71; 
    color: #ecf0f1;
    padding: 10px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

#badges-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px;
}

.badge{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
}

.text-count{
    font-size: 50px;
    align-items: top;
    display: block;
    text-align: left;
    padding: 10px;
}

.text{
    font-size: 18px;
    text-align: left;
}

.fa-envelope{
    background-color: #3498db;
    color: #ecf0f1;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
    padding: 10px;
}

.fa-user-circle{
    background-color: #e74c3c; 
    color: #ecf0f1;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
    padding: 10px; 
}

.fa-globe-americas{
    background-color: #f1c40f;
    color: #ecf0f1;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
    padding: 10px;
}