
#barchart-container{
    padding-left: 10px;
}

#analytics-container{
    height: 100%;
    width: 100%;
}

#charts-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "a b"
    "c c";
    justify-items: center;
    align-items: center;
}

#top-employee-container-container{
    display: grid;
    grid-area: a;
    justify-content: center;
}

#sales-by-email-container{
    display: grid;
    grid-area: b;
}

#sales-by-container{
    display: grid;
    grid-area: c;
}