#clients-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    padding: 5px;
    border-bottom: 1px solid rgb(88, 72, 72);
}

#column-headers{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #F7CE3E;
    padding: 10px;
    font-weight: bold;
}

input{
    background-color: #ecf0f1;
    border: 2px solid #ecf0f1;
    border-bottom: 2px solid #8dd1e4;
    border-radius: 7px;  
    font-size: 16px;
    margin: 5px;  
}

select{
    width: 12%;
    height: 10%;
    border: 2px solid #8dd1e4;
    border-radius: 5px;
}
