#nav-container{
    display: grid;
    background-color: #0a1612;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15px;
    height: 50px;  
}


.main-items{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.nav-item{
    display: grid;
    align-content: center;
    justify-content: center;
    color: #ecf0f1;
    height: 100%;
}

a{
    color: #ecf0f1;
    text-decoration: none;
}
